# Observação: este é um recorte com os trechos alterados e inseridos
# Mantive o restante com o marcador obrigatório

trigger:
- STG

pool:
  name: DEV-AZURE
  demands: zgtsrtickappd01

stages:
  - stage: Preparation
    displayName: 'Build & Validation'
    jobs:
      - job: RegressivoRecebiveis
        displayName: 'Regressivo - Recebiveis'
        steps:
          - task: NodeTool@0
            versionSpec: '18.x'
          - script: |
              echo "Limpando arquivos anteriores"
              rm -rf "$(Build.SourcesDirectory)/cypress/screenshots"
              rm -rf "$(Build.SourcesDirectory)/results"
              rm -rf $(Build.SourcesDirectory)/cypress/results
              rm -rf '$(Build.ArtifactStagingDirectory)/cypress/screenshots'
              rm -rf "$(Build.SourcesDirectory)/allure-results"
              rm -rf "$(Build.SourcesDirectory)/allure-report"
              rm -rf "$(Build.SourcesDirectory)/node_modules"
              rm -rf /root/.cache/Cypress || true
            displayName: 'Limpar arquivos anteriores'
            condition: always()

          - script: |
              npm install
              # Instala o Allure CLI globalmente para gerar o report na pipeline
              npm install -g allure-commandline
            displayName: 'npm install + Allure CLI'

          - script: |
              # Dependências necessárias para rodar o Cypress em ambiente Linux (RHEL/CentOS)
              sudo yum install -y \
              xorg-x11-server-Xvfb \
              gtk3 \
              libnotify \
              nss \
              alsa-lib \
              libXtst \
              libXrandr \
              xdg-utils \
              libXScrnSaver
            displayName: 'Instalar dependências do Cypress'

          - script: |
             ping -c 4 receivable-stg-merchants.ticket.edenred.net
             curl -I receivable-stg-merchants.ticket.edenred.net
            displayName: 'Diagnóstico de Rede'

          - script: |
              npx cypress run --env allure=true
            displayName: 'Executar Testes Regressivos'
            continueOnError: true # Garante que o report seja gerado mesmo se testes falharem
          # --- GERAÇÃO DO ALLURE REPORT ---
          - script: |
              echo "Gerando Allure Report..."
              # O parâmetro --single-file (disponível em versões recentes do Allure) cria um HTML único
              allure generate allure-results --clean -o allure-report
            displayName: 'Gerar Allure Report'
            condition: always()

          # --- ZIP E PUBLICAÇÃO ---
          - task: ArchiveFiles@2
            displayName: 'Compactar Allure Report em ZIP'
            condition: always()
            inputs:
              rootFolderOrFile: '$(Build.SourcesDirectory)/allure-results'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/allure-results-$(Build.BuildId).zip'
              replaceExistingArchive: true

          - task: PublishPipelineArtifact@1
            displayName: 'Upload do ZIP para download'
            condition: always()
            inputs:
              targetPath: '$(Build.ArtifactStagingDirectory)/allure-results-$(Build.BuildId).zip'
              artifact: 'AllureResults_Download'
              publishLocation: 'pipeline'

          - script: |
              npm run merge:results
            displayName: "Merge JUnit Results"
            condition: succeededOrFailed()

          - task: PublishTestResults@2
            displayName: 'Publish the test reports'
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/cypress/results/*.xml'
              testRunTitle: 'Cypress Regressivo'
              mergeTestResults: true # Consolida os arquivos em um único reporte no Azure
          # Publicar resultados nos Test Plans (vínculo por Test Plan/Suite/Case via REST API)
          - script: |
              node scripts\publish-azure-testplans.js --AZURE_ORG "$(AZURE_ORG)" --AZURE_PROJECT "$(AZURE_PROJECT)" --AZURE_PAT "$(AZURE_PAT)"
            displayName: 'Publicar resultados no Azure Test Plans (descoberta automática via argumentos)'
            env:
              AZURE_ORG: $(AZURE_ORG)
              AZURE_PROJECT: $(AZURE_PROJECT)
              AZURE_PAT: $(AZURE_PAT)
              
            condition: succeededOrFailed()
